<header ng-include="'app/commons/views/header.html'"></header>

<section class="section component component-plataforms">
  <div class="panel">
    <div class="panel-heading">Selecione uma plataforma</div>
    <div class="panel-block">
      <table class="table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Nome</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="$ctrl.error">
            <td colspan="3">Houve um erro na pesquisa de plataformas</td>
          </tr>
          <tr ng-show="$ctrl.loading">
            <td colspan="3">Carragando plataformas</td>
          </tr>
          <tr ng-repeat="plataform in $ctrl.plataforms">
            <td>{{plataform.sku}}</td>
            <td>{{plataform.nome}}</td>
            <td>{{plataform.descricao}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>