<header ng-include="'app/commons/views/header.html'"></header>

<section class="section component component-plans">
  <div class="panel">
    <div class="panel-heading">Selecione um plano para plataforma escolhida</div>
    <div class="panel-block">
      <table class="table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Franquia</th>
            <th>Valor</th>
            <th>Situação</th>
            <th ng-show="$ctrl.plataformSKU !== 'TBT01'">Nome do aparelho</th>
            <th ng-show="$ctrl.plataformSKU !== 'TBT01'">Valor do aparelho</th>
            <th ng-show="$ctrl.plataformSKU !== 'TBT01'">Parcelas</th>
            <th ng-show="$ctrl.plataformSKU !== 'TBT01'">Valor da parcela</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="$ctrl.error">
            <td colspan="3">Houve um erro na pesquisa de planos</td>
          </tr>
          <tr ng-show="$ctrl.loading">
            <td colspan="3">Carragando planos</td>
          </tr>          
          <tr ng-repeat="plan in $ctrl.plans" ng-click="$ctrl.goToUserData($ctrl.plataformSKU)" class="clickble-row">
            <td>{{plan.sku}}</td>
            <td>{{plan.franquia}}</td>
            <td>{{plan.valor}}</td>
            <td>
                <span ng-if="!plan.ativo" class="tag is-danger">não ativo</span> 
                <span ng-if="plan.ativo" class="tag is-success">ativo</span>
            </td>
            <td ng-show="$ctrl.plataformSKU !== 'TBT01'">{{plan.aparelho.nome}}</td>
            <td ng-show="$ctrl.plataformSKU !== 'TBT01'">{{'R$ ' + plan.aparelho.valor}}</td>
            <td ng-show="$ctrl.plataformSKU !== 'TBT01'">{{plan.aparelho.numeroParcelas + 'x'}}</td>
            <td ng-show="$ctrl.plataformSKU !== 'TBT01'">
              <span ng-if="plan.aparelho.numeroParcelas > 1">{{'R$ ' + plan.aparelho.valorParcela}}</span>
              <span ng-if="plan.aparelho.numeroParcelas <= 1">--</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>