<header ng-include="'app/commons/views/header.html'"></header>

<section class="section component component-plans">
  <div class="panel">
    <div class="panel-heading">Selecione um plano para plataforma escolhida</div>
    <div class="panel-block">
      <table class="table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Franquia</th>
            <th>Valor</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>TBT01</td>
            <td>Tablet</td>
            <td>Chip para navegar à vontade</td>
            <td>Não</td>
          </tr>
          <tr>
            <td>CPT02</td>
            <td>Computador</td>
            <td>Seu computador|Sempre conectado</td>
            <td>Não</td>
          </tr>
          <tr>
            <td>WF03</td>
            <td>WI-FI</td>
            <td>Internet WI-FI para|casa toda</td>
            <td>Não</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>